body {
    background-image: url(imagenes/fondo.jpg);
    background-size: contain;
    font-family: 'Schoolbell', cursive;
    text-align: center;
}
#buttonToEncode {
    font-family: 'Schoolbell', cursive;
    background-color: #f43f3f;
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 31px;
    margin-bottom: 53px;
}
#buttonToDecode {
    font-family: 'Schoolbell', cursive;
    background-color: #1EFA41;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 31px;
    margin-bottom: 53px;
}
::placeholder {
    font-family: 'Schoolbell', cursive; 
}
input {
    border: 2px solid #000;
    height: 30px;
}
.title {
    margin: auto;
    text-align: start;
    padding-left: 31px;
    font-size: 115%;
}
#clave {
    padding-left: 31px;
    margin-top: 6px;
    margin-right: 10px;
    font-size: 115%;
}
.divClave {
    display: flex;
    margin-top: 40px;
}
#main_message, #final_message {
    display: flex;
    margin-left: 30px;
}